{
	"extends": ["wesbos"],
	"rules": {
		"no-plusplus": "off",
		"no-unused-expressions": "off",
		"no-console": "off",
		"import/no-unresolved": "off",
		"import/newline-after-import": "off",
		"prettier/prettier": [
			"error",
			{
				"trailingComma": "es5",
				"singleQuote": true,
				"printWidth": 150
			}
		]
	}
}
